/* * {
    border: 2px;
    border-style: solid;
    border-color: red;
} */

* {
    font-size: 2rem;
    background-color: black;
    font-family: Courier, Courier New;
}

.title {
    font-size: 42px;
    margin: 0;
    text-align: center;
    color: #66FF66;
    padding: 12px;
    margin-top: 10px;
}

.userScore {
    color: #66FF66;
}

.computerScore {
    color: #66FF66;
}

.items {
    width: 150px;
    height: auto;
    margin: 50px;
    transition: all 0.5s ease;
}

.items:hover {
    background-color: #11994c;
    opacity:0.5;
}

.itemsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemsObject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roundLog {
    display: flex;
    justify-content: center;
    color: #66FF66;
    padding: 16px;
    text-align: center;
}


.resultsItems {
    font-size: 3rem;
    padding: 12px;
    color: #66FF66;
}

.resultsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 16px;
}

.score {
    font-size: 3rem;
}

.columnWrapper {
    display: flex;
    flex-direction: column;
}

.matchLog {
    display: flex;
    justify-content: center;
    color: #66FF66;
    padding: 16px;
    margin: 0;
}

.humanGameLog {
    display: flex;
    flex-direction: column;
}

.computerGameLog {
    display: flex;
    flex-direction: column;
}

.gameLogWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameLogWrapper img:first-child {
    border: 2px;
    border-style: solid;
    border-color: #66FF66;
  }

.loser {
    opacity: .2;
    width: 75px;
    height: auto;
}

.winner {
    font-size: 1.5rem;
    width: 75px;
    height: auto;
}

.gameOver {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.resetButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    
}

.resetButton {
    
}