/* * {
    border: 2px;
    border-style: solid;
    border-color: red;
} */

* {
    font-size: 2rem;
}

.items {
    width: 100px;
    height: auto;
    margin: 50px;
    transition: 100ms;
}

.items:hover {
    transform: scale(1.2);
}

.itemsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsItems {
    font-size: 3rem;
    padding: 12px;
}

.resultsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.score {
    font-size: 3rem;
}

.columnWrapper {
    display: flex;
    flex-direction: column;
}

.matchLog {
    margin: 12px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.humanGameLog {
    display: flex;
    flex-direction: column;
}

.computerGameLog {
    display: flex;
    flex-direction: column;
}

.gameLogWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loser {
    opacity: .5;
    width: 50px;
    height: auto;
}

.winner {
    font-size: 1.5rem;
    width: 100px;
    height: auto;
}